.app-wrapper {
    margin: 0 auto;
    display: grid;
    width: 1900px;
    grid-template-areas:
    "h h"
    "n c";
    grid-template-rows: 60px 1fr;
    grid-template-columns: 163px 1fr;
    /*grid-gap: 10px;*/
}

.nav {
    grid-area: n;
    /*width: 1fr;*/
    background-color: darkgray;
}

.header {
    background-color: grey;
    grid-area: h;
}

.header img {
    height: 60px;
}

.settings {
    grid-area: s;
}

.content {
    grid-area: c;
    background-color: blanchedalmond;
}

.content img {
    width: 100%;
}
